body {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    background: #f1f1f1f1;
    color: #0f141e;
    margin: auto;
}

/* Контейнер */
.container {
    max-width: 750px;
    margin: auto;
}

/* Шапка */
.avatar {
    width: 230px;
    height: 230px;
    padding-top: 20px;
}

.bio {
    padding: 0px 10px 10px;
    display: flex;
}

.bio-text {
    margin-bottom: 20px;
    margin-left: 20px;
}

.bio-text p {
    color: gray;
}

#disclaimer {
    font-size: 10px;
    border-top: 1px solid gray;
    padding-top: 5px;
}

/* Конец шапки */

.card {
    border-radius: 20px;
    padding: 5px 20px;
    margin-bottom: 20px;
    line-height: 24px;
    max-width: 700px;
}

.card h2 {
    margin-bottom: 10px;
    margin-left: 2px;
}

.card li {
    padding-bottom: 5px;
}

.hobbies li {
    margin-left: -20px;
}

.table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.table th {
    font-size: 20px;
    padding-bottom: 10px;
}

.table tr {
    border-bottom: 1px solid #868988;
}

.table td {
    padding-bottom: 10px;
    padding-top: 10px;
}

.table tr:nth-child(even) {
    font-weight: bold;
}

.projects li {
    padding-top: 10px;
    padding-bottom: 10px;
}



/* Цвета */
.pink-text {
    color: rgb(233, 112, 233);
}

.lightblue-text {
    color: rgb(66, 129, 150);
}

.dark-text {
    color: darkblue;
}

.blue-text {
    color: rgb(95, 95, 216);
}

.bg-violet {
    background-color: #c3a6f7;
}

.bg-blue {
    background-color: #bce8f3;
    padding-bottom: 20px;
}

.bg-peach {
    background-color: #f3dabc;
}

/* Анимирование кнопок */
a {
    text-decoration: none;
}

.btn {
    background: salmon;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit
}

.btn:hover {
    color: black;
    cursor: pointer;
}

.btn:active {
    color: blue;
}

/* Контакты */

.form h3 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    display: inline-block;
    margin-right: 10px;
    width: 50%;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #868988;
}

.form-group input,
textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

@media (max-width: 750px) {
    .container {
        font-size: 20px;
        font-weight: bold;
    }

    .bio {
        display: block;
        text-align: center;
    }

    .avatar {
        width: 180px;
        height: 180px;
    }

.form {
    margin: 50px;
}

    .form-row {
        display: block;
        ;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .card {
         margin: 50px;
        }
    }

    